
@{
    ViewBag.Title = "Index";
}
<link href="~/Assets/libs/flag/flag.css" rel="stylesheet" />

<section id="ProductsBanner">
    <div class="swiper bannerProductSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-12 order-lg-1 order-2">
                                <div class="center-thing">
                                    <div class="title-banner-product">
                                        Ghế nằm độc quyền sáng chế
                                        <span>DoctorLoan</span>
                                        <strong>135</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 order-lg-2 order-1">
                                <img class="img-product-banner" src="~/Assets/img/products/img-product-banner.png" />
                            </div>
                            <div class="col-lg-4 col-md-7 col-12 order-lg-3 order-3">
                                <div class="center-thing">
                                    <div class="info-banner">
                                        <h4>Nhà sáng chế - Bác Sĩ <strong>Phạm Thị Kim Loan</strong></h4>
                                        <h5>Sản phẩm được cấp bằng sáng chế độc quyền tại hơn <strong>60 quốc gia</strong></h5>
                                        <div class="dropdown select-country">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Chọn quốc gia xem bằng sáng chế
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-vn"></i>
                                                        Viet Nam
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-us"></i>
                                                        United States
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-gb"></i>
                                                        United Kingdom
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-sg"></i>
                                                        Singapore
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-tl"></i>
                                                        Thailand
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-12 order-lg-1 order-2">
                                <div class="center-thing">
                                    <div class="title-banner-product">
                                        Ghế ngồi độc quyền sáng chế
                                        <span>DoctorLoan</span>
                                        <strong>95 VIP</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 order-lg-2 order-1">
                                <img class="img-product-banner" src="~/Assets/img/products/product-95vip.png" />
                            </div>
                            <div class="col-lg-4 col-md-7 col-12 order-lg-3 order-3">
                                <div class="center-thing">
                                    <div class="info-banner">
                                        <h4>Nhà sáng chế - Bác Sĩ <strong>Phạm Thị Kim Loan</strong></h4>
                                        <h5>Sản phẩm được cấp bằng sáng chế độc quyền tại hơn <strong>60 quốc gia</strong></h5>
                                        <div class="dropdown select-country">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Chọn quốc gia xem bằng sáng chế
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-vn"></i>
                                                        Viet Nam
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-us"></i>
                                                        United States
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-gb"></i>
                                                        United Kingdom
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-sg"></i>
                                                        Singapore
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-tl"></i>
                                                        Thailand
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-12 order-lg-1 order-2">
                                <div class="center-thing">
                                    <div class="title-banner-product">
                                        Đệm thiền độc quyền sáng chế
                                        <span>DoctorLoan</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 order-lg-2 order-1">
                                <img class="img-product-banner" src="~/Assets/img/showroom/cushion-2.png" />
                            </div>
                            <div class="col-lg-4 col-md-7 col-12 order-lg-3 order-3">
                                <div class="center-thing">
                                    <div class="info-banner">
                                        <h4>Nhà sáng chế - Bác Sĩ <strong>Phạm Thị Kim Loan</strong></h4>
                                        <h5>Sản phẩm được cấp bằng sáng chế độc quyền tại hơn <strong>60 quốc gia</strong></h5>
                                        <div class="dropdown select-country">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Chọn quốc gia xem bằng sáng chế
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-vn"></i>
                                                        Viet Nam
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-us"></i>
                                                        United States
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-gb"></i>
                                                        United Kingdom
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-sg"></i>
                                                        Singapore
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)">
                                                        <i class="flag-icon flag-tl"></i>
                                                        Thailand
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="MenuBody">
    <nav id="navbar-area" class="navbar navbar-expand-xl">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:void(0)">
                            DANH MỤC SẢN PHẨM
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroGheNam" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ghế nằm
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroGheNam">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế nằm 135 simili</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế đa năng simili</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroGheNgoi" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ghế ngồi
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroGheNgoi">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế 90 dày simili</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế 90 mỏng simili</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế 95 VIP simili</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế chờ 90</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Ghế nhựa N85</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroGoiCo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gối cổ
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroGoiCo">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị cổ F4</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị cổ F5</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị cổ F6</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối cổ du lịch có lõi</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối cổ du lịch không lõi</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối cổ người lớn không lõi</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối cổ trẻ em</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối cổ đi xe</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối đa năng bán nguyệt</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroGoiLung" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gối lưng
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroGoiLung">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị lưng F1</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị lưng F3</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối điều trị lưng F4</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Gối lưng trẻ em</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroDem" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Đệm ngồi
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroDem">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Đệm thiền sáng chế</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:void(0)">
                            Đế dép
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navDroDif" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Các sản phẩm khác
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDroDif">
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Đai cổ điều trị</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Đai lưng đôi (2in1)</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Đai lưng đơn</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ProductDetail","Products")">Vớ tập</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<section class="product-info">
    <div class="container">
        <div class="product-info-main pink">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-12">
                    <div class="center-thing">
                        <div class="title-pi">
                            Ghế độc quyền sáng chế
                            <span>DOCTORLOAN</span>
                            <strong>N85</strong>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-5 col-12">
                    <div class="img-pi">
                        <img src="~/Assets/img/products/product-n85-pink.png" />
                    </div>
                </div>
                <div class="col-xl-5 col-md-4 col-12">
                    <div class="center-thing">
                        <div class="title-pi-r">
                            Ghế ngồi sáng chế
                            <strong>DOCTORLOAN N85</strong>
                            <span>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn.</span>
                            <a class="btn btn-pink" href="@Url.Action("ProductDetail","Products")">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ProductBestSeller" class="product-wrapper">
    <div class="container">
        <div class="title-product-info">Best Seller Product <span>Sản phẩm được cấp bằng sáng chế độc quyền</span></div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-1.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 90 mỏng</span> <strong>Màu nâu - Chân inox 304</strong></h5>
                        <div class="price-item">13.700.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                            <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-2.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 90 dày</span> <strong>Màu nâu - Chân inox 304</strong></h5>
                        <div class="price-item">24.300.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-3.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 95 VIP</span> <strong>Màu đen - Chân inox 304</strong></h5>
                        <div class="price-item">38.000.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-4.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi chờ 90</span> <strong>Màu xanh dương - Chân inox 304</strong></h5>
                        <div class="price-item">9.100.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-5.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu vàng - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="CartMethod">
    <div class="container">
        <div class="list-method">
            <div class="method-item">
                <img src="~/Assets/img/icon/Delivery.svg" />
                <span>Chọn đơn vị vận chuyển</span>
            </div>
            <div class="method-item">
                <img src="~/Assets/img/icon/verify.svg" />
                <span>Đặt mua</span>
            </div>
            <div class="method-item">
                <img src="~/Assets/img/icon/call-center.svg" />
                <span>Hỗ trợ 24/7</span>
            </div>
            <div class="method-item">
                <img src="~/Assets/img/icon/Wallet.svg" />
                <span>Chọn hình thức thanh toán</span>
            </div>
            <div class="method-item">
                <img src="~/Assets/img/icon/settings.svg" />
                <span>Kiểm tra tình trạng đơn hàng</span>
            </div>
        </div>
    </div>
</section>

<section class="product-info">
    <div class="container">
        <div class="product-info-main orange">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-12">
                    <div class="center-thing">
                        <div class="title-pi">
                            Ghế độc quyền sáng chế
                            <span>DOCTORLOAN</span>
                            <strong>95VIP</strong>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-5 col-12">
                    <div class="img-pi">
                        <img src="~/Assets/img/products/product-95vip.png" />
                    </div>
                </div>
                <div class="col-xl-5 col-md-4 col-12">
                    <div class="center-thing">
                        <div class="title-pi-r">
                            Ghế ngồi sáng chế
                            <strong>DOCTORLOAN 95VIP</strong>
                            <span>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn.</span>
                            <a class="btn btn-orange" href="@Url.Action("ProductDetail","Products")">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="License" class="license-second">
    <div class="container">
        <div class="title-drloan"><span>Hơn 255 Bằng sáng chế độc quyền <br /> trên 60 quốc gia</span></div>
        <div id="LicenseSwiper" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/australia.jpg" />
                    <div class="license-country">Australia</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/canada.jpg" />
                    <div class="license-country">Canada</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/united-arab-emirates.jpg" />
                    <div class="license-country">United arab emirates</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/viet-nam.jpg" />
                    <div class="license-country">Việt Nam</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/euro-patent.jpg" />
                    <div class="license-country">Euro Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/hongkong-patent.jpg" />
                    <div class="license-country">Hongkong Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/india-patent.jpg" />
                    <div class="license-country">India Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/indonesia-patent.jpg" />
                    <div class="license-country">Indonesia Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/israel-patent.jpg" />
                    <div class="license-country">Israel Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/japan-patent.jpg" />
                    <div class="license-country">Japan Patent</div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Assets/img/home/korea-patent.jpg" />
                    <div class="license-country">Korea Patent</div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>

@*<section id="FeedbackStory">
        <div class="container">
            <h5>Câu chuyện thành công của khách hàng/bệnh nhân</h5>
        </div>
    </section>*@

<section id="CollectionProducts">
    <div class="container">
        <div class="title-product-info text-left">Bộ sưu tập</div>
        <div class="row rowlg justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 collg col-20">
                <img src="~/Assets/img/products/collection-1.jpg" />
                <div class="title-collection">Sử dụng tại nhà</div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 collg col-20">
                <img src="~/Assets/img/products/collection-2.jpg" />
                <div class="title-collection">Sử dụng Văn phòng</div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 collg col-20">
                <img src="~/Assets/img/products/collection-3.jpg" />
                <div class="title-collection">Qùa tặng đối tác/ nhân viên</div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 collg col-20">
                <img src="~/Assets/img/products/collection-4.jpg" />
                <div class="title-collection">Qùa tặng người thân dịp lễ tết</div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 collg col-20">
                <img src="~/Assets/img/products/collection-5.jpg" />
                <div class="title-collection">Dùng trong phòng ngủ</div>
            </div>
        </div>
    </div>
</section>

<section class="product-info">
    <div class="container">
        <div class="product-info-main pink">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="center-thing">
                        <div class="title-pi">
                            Ghế độc quyền sáng chế
                            <span>DOCTORLOAN</span>
                            <strong>N85</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="img-pi">
                        <img src="~/Assets/img/products/product-n85-pink.png" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                    <div class="center-thing">
                        <div class="title-pi-r">
                            Ghế ngồi sáng chế
                            <strong>DOCTORLOAN N85</strong>
                            <span>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn.</span>
                            <a class="btn btn-pink" href="@Url.Action("ProductDetail","Products")">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="AllProduct" class="product-wrapper">
    <div class="container">
        <div class="title-product-info text-left m-0">Tất cả sản phẩm</div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-1.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 90 mỏng</span> <strong>Màu nâu - Chân inox 304</strong></h5>
                        <div class="price-item">13.700.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-2.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 90 dày</span> <strong>Màu nâu - Chân inox 304</strong></h5>
                        <div class="price-item">24.300.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-3.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi 95 VIP</span> <strong>Màu đen - Chân inox 304</strong></h5>
                        <div class="price-item">38.000.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-4.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi chờ 90</span> <strong>Màu xanh dương - Chân inox 304</strong></h5>
                        <div class="price-item">9.100.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-5.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu vàng - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-6.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu xanh dương - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-7.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu xanh lá - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-8.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu đỏ - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-9.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu cam - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                <div class="product-item">
                    <div class="img-item">
                        <img src="~/Assets/img/products/product-png-10.png" />
                    </div>
                    <div class="content-item">
                        <h5><span>Ghế ngồi N85</span><strong>Màu xám - Chân nhựa</strong></h5>
                        <div class="price-item">1.320.000 vnđ</div>
                        <div class="action-item">
                            <a class="icon-cart" href="javascript:void(0)"><img src="~/Assets/img/icon/shopping-bag.svg" /></a>
                             <a href="@Url.Action("ProductDetail","Products")" class="btn btn-buy">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Experience" class="padding-small">
    @Html.Action("Experience", "Common")
</section>

<section class="product-info">
    <div class="container">
        <div class="product-info-main pink mb-0">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="center-thing">
                        <div class="title-pi">
                            Ghế độc quyền sáng chế
                            <span>DOCTORLOAN</span>
                            <strong>N85</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="img-pi">
                        <img src="~/Assets/img/products/product-n85-pink.png" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                    <div class="center-thing">
                        <div class="title-pi-r">
                            Ghế ngồi sáng chế
                            <strong>DOCTORLOAN N85</strong>
                            <span>Ngồi làm việc thường xuyên trong thời gian dài sẽ khiến cột sống và đĩa đệm bị áp lực lớn.</span>
                            <a class="btn btn-pink" href="@Url.Action("ProductDetail","Products")">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Project" class="demo-section">
    <div class="container">
        <div class="title-drloan">
            <span>
                R&D/IPR<b class="text-title-small">s</b> <br /> <small>Hành trình nghiên cứu và phát triển đi tới các sáng chế thiết thực đem lại ích lợi cho mọi người</small>
            </span>
        </div>

        <div id="ProjectSwiper" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main-project">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="project-info">
                                    <div class="project-product">
                                        <div class="product-desc">
                                            <h4>Ghế Ngồi Sáng Chế DOCTORLOAN N85</h4>
                                            <p>Sau khi được đọc về các công trình nghiên cứu về việc ngồi không đúng cách có nguy cơ khiến con người bị các bệnh về cột sống. Tôi hiểu được rằng thay đổi thói quen của con người rất khó nên phải tạo ra sản phẩm giúp thuận theo thói quen của con người nhưng vẫn đảm bảo giúp ngồi đúng cách. Tôi đã tạo ra chiếc ghế đầu tiên giúp khi ngồi không bị đổ ngừời về phía trước…</p>
                                            <div class="text-end"><a href="javscript:void(0)">Xem chi tiết >>></a></div>
                                        </div>
                                        <div class="product-img"><img src="~/Assets/img/home/ghe-n85.png" /></div>
                                    </div>
                                </div>
                                <div class="tile-project mg-prj"><span>Câu chuyện vì sao sản phẩm có tên trên được ra đời?</span> <a href="javascript:void(0)">Xem chi tiết &gt;&gt;&gt;</a></div>
                                <div class="recital-project">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Bảy bước ra đời của một sản phẩm</h5>
                                                <p>Ghế phù hợp lắp ráp nhanh chóng. Sản phẩm có khả năng chịu tác động ngoại</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info active-info">
                                                <h5>Quá trình sản xuất</h5>
                                                <p>Ghế phù hợp cho học sinh các cấp chống gù lưng và vẹo cột sống.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Thương mại</h5>
                                                <p>Sản phẩm được sử dụng nhiều tại khu vực chờ cảu bệnh nhân và người thân.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="chat-parent">
                                        <div class="tile-project">
                                            <span>Số người sử dụng sản phẩm </span>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button id="btnTuan" type="button" class="btn btn-gr-dtl btn-gr-active" data-chart="chart-tuan">Tuần</button>
                                                <button id="btnThang" type="button" class="btn btn-gr-dtl" data-chart="chart-thang">Tháng</button>
                                            </div>
                                        </div>
                                        <div class="project-chart chart-tuan chart-active-home">
                                            <canvas id="myChart" height="85"></canvas>
                                        </div>
                                        <div class="project-chart chart-thang">
                                            <canvas id="myChart2" height="85"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="project-info h-100">
                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/clock.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Thời gian nghiên cứu sản phẩm</div>
                                            <div class="text-number">130 Giờ</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/package.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lần cải tiến sản phẩm</div>
                                            <div class="text-number">500 Lần</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/user-group.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lượng khách hàng sử dụng sản phẩm</div>
                                            <div class="text-number">500+ Người</div>
                                        </div>
                                    </div>

                                    <div class="project-feedback">
                                        <div class="tile-project"><span>Ý kiến của 5 khách hàng</span> <a href="javascript:void(0)">Xem chi tiết >>></a></div>
                                        <div id="ClientSwiper" class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/dang-duc-ngan.jpg" />
                                                        <div class="client-name">Cha Đặng Đức Ngân</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/pham-van-trong.jpg" />
                                                        <div class="client-name">Giuse Phạm Văn Trọng</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/thanh-lieu.jpg" />
                                                        <div class="client-name">Bệnh nhân Thanh Liễu</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/chu-hao.jpg" />
                                                        <div class="client-name">Bệnh nhân Chu Hảo</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/hoang-kim-dan.jpg" />
                                                        <div class="client-name">Sister M.JB Hoàng Kim Dâng</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                        <div class="feedback-content">
                                            <p>"Người bác sĩ trong tương lai không kê toa cho thuốc, mà chú trọng đến cấu trúc cơ thể của bệnh nhân, đến dinh dưỡng, đến nguyên nhân phát sinh ra bệnh và phương pháp phòng ngừa"</p>
                                            <a class="btn btn-outline-dtl" href="javascript:void(0)">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="main-project">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="project-info">
                                    <div class="project-product">
                                        <div class="product-desc">
                                            <h4>Ghế ngồi Sáng Chế DOCTORLOAN 90 mỏng</h4>
                                            <p>
                                                Ghế ngồi sáng chế DOCTORLOAN 90 mỏng được thiết kế với phần lồi phía trước và lõm phía sau, tạo nên chức năng “ÔM CHẶT – GIỮ CHUẨN – CHỐNG TRƯỢT” từng chi tiết của khung xương, mang đến khả năng tự điều chỉnh cột sống dưới tác động của trọng lực cơ thể khi ngồi trên ghế.
                                            </p>
                                            <div class="text-end"><a href="javscript:void(0)">Xem chi tiết >>></a></div>
                                        </div>
                                        <div class="product-img"><img src="~/Assets/img/home/ghe-90-mong.png" /></div>
                                    </div>
                                </div>
                                <div class="tile-project mg-prj"><span>Câu chuyện vì sao sản phẩm có tên trên được ra đời?</span> <a href="javascript:void(0)">Xem chi tiết &gt;&gt;&gt;</a></div>
                                <div class="recital-project">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Bảy bước ra đời của một sản phẩm</h5>
                                                <p>Ghế phù hợp lắp ráp nhanh chóng. Sản phẩm có khả năng chịu tác động ngoại</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info active-info">
                                                <h5>Quá trình sản xuất</h5>
                                                <p>Ghế phù hợp cho học sinh các cấp chống gù lưng và vẹo cột sống.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="project-info">
                                                <h5>Thương mại</h5>
                                                <p>Sản phẩm được sử dụng nhiều tại khu vực chờ cảu bệnh nhân và người thân.</p>
                                                <div class="footer-recital">
                                                    <div class="avatar-group">
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-1.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-2.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/avatar-3.png" alt="Avatar" /></div>
                                                        <div class="avatar"><img src="~/Assets/img/home/count.svg" alt="Avatar" /></div>
                                                    </div>
                                                    <div class="count-clap">
                                                        <img src="~/Assets/img/home/clap.png" /> <span>1.5K</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="chat-parent">
                                        <div class="tile-project">
                                            <span>Số người sử dụng sản phẩm </span>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button id="btnTuan" type="button" class="btn btn-gr-dtl btn-gr-active" data-chart="chart-tuan">Tuần</button>
                                                <button id="btnThang" type="button" class="btn btn-gr-dtl" data-chart="chart-thang">Tháng</button>
                                            </div>
                                        </div>
                                        <div class="project-chart chart-tuan chart-active-home">
                                            <canvas id="myChart3" height="85"></canvas>
                                        </div>
                                        <div class="project-chart chart-thang">
                                            <canvas id="myChart4" height="85"></canvas>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="project-info h-100">
                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/clock.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Thời gian nghiên cứu sản phẩm</div>
                                            <div class="text-number">80 Giờ</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/package.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lần cải tiến sản phẩm</div>
                                            <div class="text-number">20 Lần</div>
                                        </div>
                                    </div>

                                    <div class="project-number">
                                        <div class="icon-number"><img src="~/Assets/img/home/user-group.png" /></div>
                                        <div class="body-number">
                                            <div class="title-number">Số lượng khách hàng sử dụng sản phẩm</div>
                                            <div class="text-number">700+ Người</div>
                                        </div>
                                    </div>

                                    <div class="project-feedback">
                                        <div class="tile-project"><span>Ý kiến của 5 khách hàng</span> <a href="javascript:void(0)">Xem chi tiết >>></a></div>
                                        <div id="ClientSwiper" class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/dang-duc-ngan.jpg" />
                                                        <div class="client-name">Cha Đặng Đức Ngân</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/pham-van-trong.jpg" />
                                                        <div class="client-name">Giuse Phạm Văn Trọng</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/thanh-lieu.jpg" />
                                                        <div class="client-name">Bệnh nhân Thanh Liễu</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/chu-hao.jpg" />
                                                        <div class="client-name">Bệnh nhân Chu Hảo</div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="client-info">
                                                        <img src="~/Assets/img/home/hoang-kim-dan.jpg" />
                                                        <div class="client-name">Sister M.JB Hoàng Kim Dâng</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                        <div class="feedback-content">
                                            <p>"Người bác sĩ trong tương lai không kê toa cho thuốc, mà chú trọng đến cấu trúc cơ thể của bệnh nhân, đến dinh dưỡng, đến nguyên nhân phát sinh ra bệnh và phương pháp phòng ngừa"</p>
                                            <a class="btn btn-outline-dtl" href="javascript:void(0)">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-menu-container ul li").removeClass("menu-active");
            $("#nav-menu-container ul li").eq(4).addClass("menu-active");
        });

        $('.btn-gr-dtl').click(function () {
            var parentbtn = $(this).parents(".chat-parent");
            parentbtn.find('.tile-project .btn-group .btn-gr-dtl').removeClass("btn-gr-active");
            $(this).addClass("btn-gr-active");
            var datachart = $(this).data("chart");

            parentbtn.find(".project-chart").removeClass("chart-active-home");
            parentbtn.find(".project-chart." + datachart).addClass("chart-active-home");
        });

        var bannerswiper = new Swiper(".bannerProductSwiper", {
            slidesPerView: 1,
            loop: true,
            autoplay: {
                delay: 3500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
        });

        var swiper = new Swiper("#ProjectSwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            }
        });

        var swiper2 = new Swiper("#ClientSwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                640: {
                    spaceBetween: 10
                },
                992: {
                    spaceBetween: 10
                },
                1200: {
                    spaceBetween: 30
                },
            },
        });

        var swiper3 = new Swiper("#ExperienceSwiper", {
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 2,
            initialSlide: 1,
            spaceBetween: 0,
            effect: 'coverflow',
            keyboard: true,
            slideToClickedSlide: true,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 50,
                modifier: 6,
                slideShadows: false,
            },
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    initialSlide: 2,
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 100,
                        modifier: 4,
                        slideShadows: false,
                    },
                }
            },
        });

        var swiper4 = new Swiper("#LicenseSwiper", {
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 3,
            initialSlide: 3,
            effect: 'coverflow',
            keyboard: true,
            slideToClickedSlide: true,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 4,
                slideShadows: false,
            },
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                640: {
                    spaceBetween: 40
                },
                992: {
                    spaceBetween: 80
                },
                1200: {
                    spaceBetween: 120
                },
            },
        });

        var ctx = document.getElementById('myChart').getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [100, 120, 150, 160, 165, 180, 190, 220, 250, 280, 290, 320],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [100, 150, 180, 190, 220, 250, 290],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx3 = document.getElementById('myChart3').getContext("2d");
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [70, 80, 120, 130, 140, 200, 230, 250, 300, 320],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        var ctx4 = document.getElementById('myChart4').getContext("2d");
        var myChart4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: ["", "", "", "", "", "", "", "", ""],
                datasets: [{
                    label: "",
                    pointBorderWidth: 7,
                    pointHoverRadius: 7,
                    pointHoverBorderWidth: 1,
                    pointRadius: 3,
                    fill: false,
                    borderWidth: 4,
                    data: [50, 60, 70, 110, 140, 180, 190, 240, 250],
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        displayColors: false,
                        bodyAlign: 'center',
                        callbacks: {
                            title: () => null // or function () { return null; }
                        },
                        bodyFont: {
                            size: 24
                        },
                        backgroundColor: '#FF7500',
                        bodyColor: '#FFFFFF'
                    }
                },
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        display: false
                    },
                }
            }
        });

        $(window).on('load', function () {

        });

        $(".dropdown-menu [data-bs-toggle='dropdown']").on("click", function (event) {
            event.preventDefault();
            event.stopPropagation();

            $(this).parents(".dropdown-menu").first().find(".show").removeClass("show");
            $(this).parents(".dropdown-menu").first().find("[aria-expanded='true']").attr("aria-expanded", false);

            $(this).attr("aria-expanded", true);
            $(this).siblings(".dropdown-menu").toggleClass("show");

            $(this)
                .parents(".nav-item.dropdown")
                .on("hidden.bs.dropdown", function (e) {
                    $(".dropdown-submenu .show").removeClass("show");
                    $(".dropdown-submenu [aria-expanded='true']").attr("aria-expanded", false);
                });
        });
    </script>
}